

<%= form_for([@campaign,@logo] , html: {multipart: true}) do |f| %>
    <%= f.file_field :image, class: "image-upload-btn",title: " " %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
<!--         <form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone"></form> -->