
<div id="newlogo" class="col-md-5 col-md-offset-4">
    <div id="newlogo2" class="panel panel-default box-shadow--16dp">
		<div id="newlogohdg" class="panel-heading"><h1>New Logo</h1>
			<h5><b><%= @campaign.name %></b></h5>
		</div>

			<!-- <div id="cntnrnewlogo" class="container"> -->
				<%= render 'form' %>
				<%= link_to 'Done', campaign_path(@campaign), class: 'btn button-logoit btn-default btn-logo', style: "font-size:28px;"%>
			<!-- </div> -->
	</div>
</div>