
<div id="editcmpgn" class="col-md-6 col-md-offset-3">
    <div id="editcmpgn2" class="panel panel-default box-shadow--16dp">
		<div id="newlogohdg" class="panel-heading"><h1>Editing Campaign</h1></div>
		<br>
			<div id="cmpgnform" class="container">
				<%= render 'form' %>
				<%= link_to '', campaign_path(@campaign), class: 'glyphicon glyphicon-chevron-left', style: "font-size:28px;" %>
			</div>
		</div>
	</div>
</div>

