
<div id="newcmpgn" class="col-md-5 col-md-offset-4">
    <div id="newcmpgn2" class="panel panel-default box-shadow--16dp">
		<div id="hdgnewcmpgn" class="panel-heading"><h1>New Campaign</h1></div>
			<div id="cmpgnform" class="container">
				<%= render 'form' %>
				<%= link_to '', dashboard_index_path, class: 'glyphicon glyphicon-chevron-left', style: "font-size:28px;" %>
			</div>
	</div>
</div>
