/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone
 *= require agency/agency.css
 */

#masthead {
 padding-top: 10%;
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
 margin-right: 20%; /*###NOT DOING IT AUTOMATICALLY*/
 text-align: center;
}

.well {
  width: 360px;
  height: 320px;
  padding: 0;
  position: relative;
  border-top: ;

}

body {
	background: orange;
	font-family: Quantico, sans-serif;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: orange;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  width: 60%;
}

.panel-heading.masthead {
    padding: 0px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #51acd1;
}

.panel-info.masthead {
    border-color: #999;
}

.panel-heading {
    text-align: center;
    border-bottom: 1px solid black;
}

#namecmpgn {
padding-left: 30px;
padding-right: 25px;
margin-top: 10%;
text-align: center
}

div.panel.panel-default.login-panel {
  font-size: 16px;
  text-align: center;
  padding-bottom: 25px;
}

#mainpanel {
	padding-bottom: 25px;
  border: 1px solid #42464b;
  border-radius: 6px;

}

#newcmpgn {
  font-size: 16px;
  text-align: left;
  padding-top: 150px;
}

#new_campaign {
  padding: 25px 25px 25px 25px;
}

#newcmpgn2 {
  padding-bottom: 25px;
}

#newcmpnyinfo {
  padding-top: 150px;
}

#cmpgnform {
	padding-top: 25px;
  padding-left: 25px;
}

#cmpgnurl {
	font-size: 30px;
	padding-left: 100px;
	padding-top: 100px;
}

#newlogo {
	font-size: 16px;
  text-align: center;
  padding-top: 15%;
  margin-left: -1% !important;
}

#newlogo2 {
  padding-bottom: 25px;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 570px;
  width: 1130px;
}

#bckbtnedituser {
  padding-left: 25px;
}

#editcmpgn {
  padding-top: 150px;
}

#editcmpgn2 {
  padding-bottom: 25px;
}

#edituser {
	padding-bottom: 25px;
}

#editprofile {
  padding-top: 100px;
}

#imgs {
	padding-top: 15px;
	padding-bottom: 15px;
}

#signup {
  padding-top: 150px;
}

#signin {
  padding-top: 150px; 
}

a:hover { 
	background-color: transparent;
    color: orange;
    text-decoration: none; 
}

.navbar-default .navbar-nav>li>a {
    color: orange;
    font-size: 18px;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    font-size: 28px;
}

.navbar-default .navbar-link {
    color: #777;
    font-size: 16px;
}

.navbar-default .navbar-text {
    color: orange;
    font-size: 16px;
}

.col-sm-5 {
  position: absolute;
}
.col-sm-6 {
  position: relative;
  left: 25%;
  text-align: center
}
.glyphicon {
  padding:10,10,10,10;
}
.col-md-offset-4 {
    margin-left: 29.333333%;
}
 .glyphicon-chevron-left {
  float: left;
  margin-top: 20px;
 }
 .edit {
  margin-right: 2em;
 }
 .delete {
  margin-top: 6px  ;
 }
 .campagin-show-well {
  margin: 20px  15px 0 0 !important; 
  float: left;
 }
 .campaign-row {
  margin-left: 15px !important;
 }
input[type="email"]{
  background: #f2f2f2;
  font-size: 24px;
  height: 35px;
  margin-left: 5em;
  width: 61%;
}
input[type="password"]{
  font-size:  35px;
  background: #f2f2f2;
  font-size: 24px;
  height: 35px;
  margin-left: 5em;
  width: 61%;
}
::-webkit-input-placeholder {
  text-align: center;
  padding-top: 7px;
  font-size:  35px;
}
.button-logoit {
  font-style: bold;
  margin-left: 30%;
  width: 40%;
  background-image: linear-gradient(to bottom,#ffcc80 0,#ffad33 100%);
  background-color: #e68a00;
}
.button-logoit:hover{
  background: #ffc266;
}
.btn-danger {
  margin-left: 30%;
  width: 40%;
}
#drop {
  display: block;
  height: 50px;
}
.image-upload-btn {

}
.image-upload-btn::-webkit-file-upload-button {
  visibility: hidden;
}
.image-upload-btn::before {
  content: 'Select some files';
  display: inline-block;
  background: #f2f2f2;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin-left: 30%;
  margin-top: 10%;
  height: 5em;
  width: 17em;
}
.image-upload-btn:hover::before {
  background: #ffc266;
}
.image-upload-btn:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.dropzone-area{
  margin-top: 3%; 
  text-align: center;
}
.dropzone-holder {
  width: 90%;
  margin: 0 auto;
}
.btn-logo{
  width: 200px;
  height: 50px;
  margin: 40px 0 0 0;
  padding: 0 0 0 0;
}
#front-logo {
  background: url("https://s3.amazonaws.com/logoit2/splash.jpg?X-Amz-Date=20151114T221827Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=18d2402d3222f625191eda11e417f6bb0dbd4df0bf566fb4a94b4f5cfc85164c&X-Amz-Credential=ASIAILBKMZEUTRF5QDUA/20151114/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDcakAKQpv1RIZTMlptEKq0Npl7A83mWHbL1pPU9KT/hb7zOkUYzd7ZALMhP/r7dy1%2BOFqgz5zq/qrP1E6e/kuN0Ec/Vi4TY3gphZIHjqJ88pIvrg/AoLHNzR1EBQCvuvCac0vDDNW3%2BsoTGVpNFey67MTvXkeuy3koTMNs6Iw%2BcczCPDwUvlbxh7pm2Oel5G2Tx3WJPf6GxCHDPJSGEaLKzBeUx6aSDe/xBYvTbC22kipmUckc3q23n41twVLNV3UUNpTZK5juVHRZ2Yu4FUFxnqIaeZXe%2BPnNk5w2OzWRgP9Adzb5rx9DQUh9vyzBXapjnUYzTWXH82KDGR8Vy%2BF7TJcYUALjrA6A4b9qTmuwnfQq9DCCX0J6yBQ%3D%3D");
  background-size: cover;
}

.funtainer {
  width: 100% !important;
  padding: 0 0 0 0 !important;
}
.login-forms {
  margin-left: 0px !important;
}
.btn-warning {
  width: 40%;
}
.edit-btn {
  margin-left: 30%;
}
.intro-heading, .intro-lead-in {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

/*.nav_logo {position: absolute; z-index: 1000}

.nav_logo_image { background: url('assets/images/Logoit-03.png') }*/

/*.image-size {
  max-width: 30px;
  max-height: 30px;
}*/

/*SHADOWS*/

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}