
<div id="newcmpnyinfo" class="col-md-5 col-md-offset-4">
    <div id="newcmpgn" class="panel panel-default box-shadow--16dp">
		<div id="hdgnewcmpgn" class="panel-heading"><h1>New Company Info</h1></div>
			<div id="cmpgnform" class="container">
				<%check_existance%>

				<%= render 'form' %>

				<%= link_to 'Back', company_infos_path %>
			</div>
		</div>
	</div>
</div>
